body {
	background: black;
	color: white;
}

.val {
	text-transform: capitalize;
	text-align: center;
	vertical-align: middle;
}

.poeng-teller {
	color: white;
	text-align: center;
}

.poeng {
	font-size: 2em;
	margin: 0.5em;
}